.container {
	margin: 0 auto;
	max-width: 1200px;	
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 2fr 6fr 6fr 6fr 10fr 8fr;
	grid-gap: 6px 3px;
}
h1 {
	margin: 0;
	font-size: 1.3rem;
	text-transform: uppercase;
}
h2 {
	margin: 0;
	font-size: 1.1rem;
	color: green;
	letter-spacing: 6px;
	text-transform: lowercase;
}
div {
	box-sizing: border-box;
	padding: 10px;
}
.container div {
	background-color: #ddd;
}
.container div:first-child {
	grid-column: 1/4;
}
.container div:nth-child(5) {
	grid-column: 2;
	grid-row: 2/5;
}
.container div:nth-child(6) {
	grid-column: 3;
	grid-row: 2/7;
}
.container div:nth-child(7) {
	grid-column: 1/3;
}
