<div class="container">
	<div>
		<h1 #header>{{title.title }}</h1>
		<h2>{{title.subTitle}}</h2>
	</div>
	<div [class.radioControlMellow]="val === 'foo'">
		<input [(ngModel)]="title.subTitle" #duh appGrey>{{duh.value}}
	</div>
	<div>
		<data-grid [title]="title" [(crap)]="val"></data-grid>
		<data-grid [title]="title2" [(crap)]="val2"></data-grid>
		<div [ngClass]="{ radioControlCool: val === 'foo', radioControlMellow: val !== 'foo' }">
			<label>
				<input type="radio" name="colors" (click)="color='violet'">Violet
			</label>
			<label>
				<input type="radio" name="colors" (click)="color='yellow'">Yellow
			</label>
			<label>
				<input type="radio" name="colors" (click)="color='cyan'">Cyan
			</label>
		</div>
		<button [@heroState]="state" (click)="toggleState()">Click</button>
		<span [appHighlight]="color">{{val | ator:2}}</span>
		<span *ngIf="val === 'foo'">Now you see me</span>
	</div>
	<div>
		<div [hidden]="submitted">
			<form #userForm="ngForm" (submit)="submitForm()">
				<input type="text" [(ngModel)]="model.name" name="name" required>
				<input type="text" [(ngModel)]="model.id" name="id">
				<button type="submit" [disabled]="!userForm.form.valid">Submit</button>
			</form>
		</div>
		<div [hidden]="!submitted">Form submitted!</div>
		<app-model-form></app-model-form>
	</div>
	<div>
		<app-reactive-form></app-reactive-form>
		<p [hidden]="doh">{{count$ | async}}</p>
		<button (click)="increment()">Add</button>
		<button (click)="decrement()">Subtract</button>
		<button (click)="doh = !doh">Toggle</button>
		<app-content>
			<h1 class="foo">Foo</h1>
			<h2 class="bar">Bar</h2>
		</app-content>
		<div>
			<span>{{1000 | currency}}</span>
			<span>{{1000 | currency: 'CAD': 'symbol-narrow'}}</span>
			<span>{{dd | date: 'shortTime'}}</span>
			<span>{{dd | date: 'fullDate'}}</span>
			<span>{{dd | date: 'M/d/y h:m:s'}}</span>
			<span>{{.33333 | number: '1.2-2'}}</span>
			<span>{{.3 | number: '1.2-2'}}</span>
			<span>{{.3 | percent: '1.2-2'}}</span>
			<span>{{[0, 1, 2, 3, 4, 5, 6] | slice:0:-6}}</span>
		</div>
		<div>
			<span ngNonBindable>{{promiseData}}</span>
			<span>{{promiseData | async}}</span>
			<span>{{obsData | async}}</span>
			<span>{{obsStr | async}}</span>
		</div>
		<div>{{'Fuck you! Stop calling me fuckface' | bleep}}</div>
	</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
</div>
